/* Tipografias */
@font-face {
  font-family: "Halloween";
  src: url('../font/Corpus.woff2') format('woff2'),
      url('../font/Corpus.woff') format('woff'),
      url('../font/Corpus.ttf') format('truetype');
}

/* Contenedor */
.container {
  background-color: #d13f00;
  height: 2000px;
  width: 390px;
}

.banner {
  text-align: center;
  justify-content: center;
}

/* Imagen banner */
picture {
  padding: 12px;
}

/* Titulos */
.titulo {
  font-family: Halloween;
}

.subTitle {
  font-family: Halloween;
}

.subParrafo {
  font-family: Halloween;
}

/* Boton Saber mas */
.botonSaber {
  border: 2px solid black;
  background-color: #d13f00;
  font-size: 20px;
  padding: 10px;
  margin-left: 200px;
  font-family: Halloween;
}

/* Seccion Imagenes con texto */
.imagen {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 93px;
}

/* Primera imagen de card */
.uno {
  background-image: url(../img/Card1@2x.webp);
}

/* Segunda imagen de card */
.dos {
  background-image: url(../img/Card2@2x.webp);
}

/* Tercera imagen de card */
.tres {
  background-image: url(../img/Card3@2x.webp);
}

/* Parrafos de las imagenes */
.parrafoImagen {
  margin-top: 10px;
  font-family: Halloween;
}

/* Seccion perfiles */
/* Primer Perfil */
.perfil_uno {
  background-image: url(../img/Perfil1@2x.webp);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 160px;
  height: 150px;
  margin-left: 60px;
}

.parrafoPerfil{
  margin-top: 10px;
  font-family: Halloween;
}

/* Segundo Perfil */
.perfil_dos{
  background-image: url(../img/Perfil2@2x.webp);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 160px;
  height: 150px;
  margin-left: 60px;
}

/* Seccion Formulario */
footer{
  text-align: center;
  justify-content: center;
}

.tituloForm{
  text-align: center;
  font-family: Halloween;
}

input{
  margin-bottom: 10px;
  padding: 12px;
  width: 300px;
  font-family: Halloween;
  
}

.botonEnviar{
  background-color: #d13f00;
  font-size: 20px;
}

/* Seccion Redes Sociales */
.rdss{
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  padding-top: 10px;
}

.Facebook{
  background-image: url(../img/svg/Facebook.svg);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Twitter{
  background-image: url(../img/svg/Twitter.svg);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Instagram{
  background-image: url(../img/svg/Instagram.svg);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}